 

<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
  
              <span class="text-primary">WTB E-Ticaret Sistemi</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              WTB E-Ticaret Sistemi giriş ekranı
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form action="/login" method="post">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
  
  
                  <h1>GİRİŞ</h1>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4" style="margin-top: 10px;">
                    <input type="text" name="username" placeholder="email" id="username" class="form-control" required>
                    <label class="form-label">Email Adresi</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" name="password" placeholder="password" id="password" class="form-control" required>
                    <label class="form-label">Şifre</label>
                  </div>
  
                   <!-- Password input -->
                 
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Login
                  </button>
  
  
                </form>  
                <div class="form-outline mb-4">
                       
                  <label class="form-label">Don't have an account?</label>
                  <a href="register"><button class="btn btn-primary">Register</button></a>
                </div>            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>