<div class="container wrapper">
  <div class="row cart-head">
    <div class="container">
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <div style="display: table; margin: auto;">
          <span class="step step_complete"> <a href="dashboard" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
          <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
          <span class="step_thankyou check-bc step_complete">Thank you</span>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
    </div>
  </div>
  <div class="row cart-body">
    <form class="form-horizontal" method="post" action="payment">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
        <!--REVIEW ORDER-->
        <div class="panel panel-info">
          <div class="panel-heading">
            Review Order <div class="pull-right"><small><a class="afix-1" href="#">Edit Cart</a></small></div>
          </div>
          <div class="panel-body">
            
            <div class="form-group">
              <div class="col-sm-3 col-xs-3">
                <img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg" />
              </div>
              <div class="col-sm-6 col-xs-6">
                <div class="col-xs-12">Product name</div>
                <div class="col-xs-12"><small>Quantity:<span>1</span></small></div>
              </div>
              <div class="col-sm-3 col-xs-3 text-right">
                <h6><span>$</span>25.00</h6>
              </div>
            </div>
            <div class="form-group">
              <hr />
            </div>
          
            <div class="form-group">
              <hr />
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <strong>Order Total</strong>
                <div class="pull-right"><span>$</span><span>150.00</span></div>
              </div>
            </div>
          </div>
        </div>
        <!--REVIEW ORDER END-->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6" style="display: flex;">
        <!--SHIPPING METHOD-->
        <div class="panel panel-info">
          <div class="panel-heading">Adres</div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">
                <h4>Kargo Adresi </h4>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-12"><strong>Adres:</strong></div>
              <div class="col-md-12">
                <input type="text" name="address" class="form-control" value="" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12"><strong>Şehir</strong></div>
              <div class="col-md-12">
                <input type="text" name="state" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
              <div class="col-md-12">
                <input type="text" name="zip_code" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Ülke</strong></div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="country" value="" />
              </div>
            </div>

          </div>
        </div>
        <!--SHIPPING METHOD END-->
        <!--CREDIT CART PAYMENT-->
        <div class="panel panel-info" style="margin-left: 10px;">
          <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Güvenli Ödeme</div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12"><strong>Kredi Üzerindeki İsim</strong></div>
              <div class="col-md-12"><input type="text" class="form-control" name="card_name" value="" /></div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Kredi Kart Numarasu:</strong></div>
              <div class="col-md-12"><input type="text" class="form-control" name="card_number" value="" /></div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Card CVV:</strong></div>
              <div class="col-md-12"><input type="text" class="form-control" name="card_code" value="" /></div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <strong>Kart Geçerlilik Tarihi</strong>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="month">
                  <option value="">Ay</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="year">
                  <option value="">Yıl</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                  <option value="2033">2033</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary btn-submit-fix">Ödeme</button>
              </div>
            </div>
          </div>
        </div>
        <!--CREDIT CART PAYMENT END-->
      </div>

    </form>
  </div>
  <div class="row cart-footer">

  </div>
</div>