<div class="container">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sayfa Ekle</h4>
         
          <form class="forms-sample" action="htmlicerik" method="post">
            <div class="form-group row">
               <textarea name="editor1"   ></textarea>
            </div>
          
            <button type="submit" class="btn btn-primary me-2">Kaydet</button>
          </form>
        </div>
      </div>
   
   
    </div>

    <script>
      CKEDITOR.replace('editor1');
    </script>
  


<!-- <div class="page-content">
  <div class="content">
<div class="container-fluid">
  <div class="row">
                      <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h6 class="card-title">Sayfa Yönetimi</h6>
                  <a class="btn btn-outline-success" href="https://www.tapunedir.com/admin/pages/create" role="button">Yeni Sayfa Ekle</a>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                          <tr>
                              <th>ID</th>
                              <th>Aktiflik</th>
                              <th>Link</th>
                              <th>Kategori</th>
                              <th>Başlık</th>
                              <th></th>
                              <th>#</th>
                          </tr>
                          </thead>
                          <tbody>
                                                                  <tr>
                                  <td>23</td>
                                  <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check link-icon" style="color: green"><polyline points="20 6 9 17 4 12"></polyline></svg></td>
                                  <td>hakkimizda-p-23</td>
                                  <form action="https://www.tapunedir.com/admin/pages_edit_form/23" method="POST" enctype="multipart/form-data" class="form-sample"></form>
                                      <input type="hidden" name="_token" value="wWdOGD7WRz5ghbXkJx4rFgUjWKbnjRbrawNdAWmr">                                                <input type="hidden" name="_method" value="PATCH">                                                <td><select class="form-control" name="category_id">
                                                                                                          <option value="41">- Video Galeri</option>
                                                                                                          <option selected="" value="42">- Kurumsal</option>
                                                                                                  </select></td>
                                      <td><input type="text" name="title" class="form-control" value="Hakkımızda"></td>
                                      <td><button type="submit" class="btn btn-outline-primary btn-xs">Kaydet</button></td>
                                  
                                  <td>
                                      <form action="https://www.tapunedir.com/admin/pages/23" method="POST">

                                          

                                          <a class="btn btn-outline-warning btn-xs" href="https://www.tapunedir.com/admin/pages/23/edit">Düzenle</a>

                                          <input type="hidden" name="_token" value="wWdOGD7WRz5ghbXkJx4rFgUjWKbnjRbrawNdAWmr">                                                    <input type="hidden" name="_method" value="DELETE">
                                          <button type="submit" class="btn btn-outline-danger btn-xs btn-flat show_confirm" data-toggle="tooltip">Sil</button>
                                      </form>
                                  </td>
                              </tr>
                                                                  <tr>
                                  <td>22</td>
                                  <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check link-icon" style="color: green"><polyline points="20 6 9 17 4 12"></polyline></svg></td>
                                  <td>video-galeri-p-22</td>
                                  <form action="https://www.tapunedir.com/admin/pages_edit_form/22" method="POST" enctype="multipart/form-data" class="form-sample"></form>
                                      <input type="hidden" name="_token" value="wWdOGD7WRz5ghbXkJx4rFgUjWKbnjRbrawNdAWmr">                                                <input type="hidden" name="_method" value="PATCH">                                                <td><select class="form-control" name="category_id">
                                                                                                          <option selected="" value="41">- Video Galeri</option>
                                                                                                          <option value="42">- Kurumsal</option>
                                                                                                  </select></td>
                                      <td><input type="text" name="title" class="form-control" value="Video Galeri"></td>
                                      <td><button type="submit" class="btn btn-outline-primary btn-xs">Kaydet</button></td>
                                  
                                  <td>
                                      <form action="https://www.tapunedir.com/admin/pages/22" method="POST">

                                          

                                          <a class="btn btn-outline-warning btn-xs" href="https://www.tapunedir.com/admin/pages/22/edit">Düzenle</a>

                                          <input type="hidden" name="_token" value="wWdOGD7WRz5ghbXkJx4rFgUjWKbnjRbrawNdAWmr">                                                    <input type="hidden" name="_method" value="DELETE">
                                          <button type="submit" class="btn btn-outline-danger btn-xs btn-flat show_confirm" data-toggle="tooltip">Sil</button>
                                      </form>
                                  </td>
                              </tr>
                                                              </tbody>
                      </table>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div> -->