<form action="test" method="post">
   

  <p>Kategoriler:</p>
  <input type="checkbox" id="category1" name="categories" value="Elektronik">
  <label for="category1">Elektronik</label>

  <input type="checkbox" id="category2" name="categories" value="Giyim">
  <label for="category2">Giyim</label>

  
      <button class="btn btn-primary">kaydet</button>
</form>

 