
<div class="success-page">
    <img   style="max-width: 106%;" src="admin/<%-setting.logo  %>" class="center" alt="Stronger With Capricorn" />
      <img  src="https://www.isguvenligiuyarilevhalari.com/img/products/kontrol-etiketi-kirmizi-x_23.07.2022_96d7f51.png" style="    max-width: 71%;
      " class="center" alt="Payment Successful" />
   <h2>Ödeme Başarısız!</h2>
   <p>Hata: <br> <b><%=errorMessage  %><b></p>
   <a href="/" class="btn-view-orders"> <href="https://online.capricorn.coop/Auth/Login/"><%=setting.site_title  %> </a>
   <a href="/payment">Ödeme Sayfasına Geri Dön </a>
  </div>
  </div>