
<div class="success-page">
  <img   style="max-width: 106%;" src="admin/<%-setting.logo  %>" class="center" alt="Stronger With Capricorn" />
    <img  src="https://www.capricorn.coop/uploadedImages/MainSite/Content/Public/Common/Home/tick.png" class="center" alt="Payment Successful" />
 <h2>Ödeme Başarılı!</h2>
 <p>Siparişiniz Alınmıştır.Sipariş Numaranız <b><%=conversationId  %> <b></p>
 <a href="/" class="btn-view-orders"> <href="https://online.capricorn.coop/Auth/Login/"><%=setting.site_title  %> </a>
</div>
</div>