 
<div class="main-panel" style="margin-top: 3%;">
    <div class="page-content">
        <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Yönetim Paneli</h4>
  </div>
  
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Bugün</h6>
              
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
              <h3 class="mb-2">0</h3>
                
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <p>Bugün</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Son 7 Gün</h6>
              
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
              <h3 class="mb-2">0</h3>
                
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <p>Son 7 Günlük ziyaretçi sayısı</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Tüm Zamanlar</h6>
              
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">0</h3>
                
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <p>Toplam Ziyaretçi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body" style="position: relative;">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">Ziyaretçi Grafiği</h6>
        </div>
        <div class="row align-items-start mb-2">
          <div class="col-md-7">
            <p class="text-muted tx-13 mb-3 mb-md-0">Son 1 aylık ziyaretçi sayıları</p>
          </div>
          
        </div>
        <div id="revenueChart" style="min-height: 400px;"><div id="apexchartsoormy74i" class="apexcharts-canvas apexchartsoormy74i apexcharts-theme-light" style="width: 871px; height: 400px;"><svg id="SvgjsSvg1106" width="871" height="400" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: rgb(255, 255, 255);"><g id="SvgjsG1108" class="apexcharts-inner apexcharts-graphical" transform="translate(41.125, 30)"><defs id="SvgjsDefs1107"><clipPath id="gridRectMaskoormy74i"><rect id="SvgjsRect1115" width="825.875" height="338.348" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskoormy74i"></clipPath><clipPath id="nonForecastMaskoormy74i"></clipPath><clipPath id="gridRectMarkerMaskoormy74i"><rect id="SvgjsRect1116" width="823.875" height="340.348" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1114" x1="0" y1="0" x2="0" y2="336.348" stroke="#7987a1" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="336.348" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1121" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1122" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g><line id="SvgjsLine1123" x1="0" y1="337.348" x2="819.875" y2="337.348" stroke="rgba(77, 138, 240, .15)" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1140" class="apexcharts-grid"><g id="SvgjsG1141" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1143" x1="0" y1="0" x2="819.875" y2="0" stroke="rgba(77, 138, 240, .15)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1144" x1="0" y1="67.2696" x2="819.875" y2="67.2696" stroke="rgba(77, 138, 240, .15)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1145" x1="0" y1="134.5392" x2="819.875" y2="134.5392" stroke="rgba(77, 138, 240, .15)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1146" x1="0" y1="201.8088" x2="819.875" y2="201.8088" stroke="rgba(77, 138, 240, .15)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1147" x1="0" y1="269.0784" x2="819.875" y2="269.0784" stroke="rgba(77, 138, 240, .15)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1148" x1="0" y1="336.34799999999996" x2="819.875" y2="336.34799999999996" stroke="rgba(77, 138, 240, .15)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1142" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1150" x1="0" y1="336.348" x2="819.875" y2="336.348" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1149" x1="0" y1="1" x2="0" y2="336.348" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1117" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1118" class="apexcharts-series" seriesName="KişixSayısı" data:longestSeries="true" rel="1" data:realIndex="0"><g id="SvgjsG1119" class="apexcharts-series-markers-wrap" data:realIndex="0"></g></g><g id="SvgjsG1120" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1151" x1="0" y1="0" x2="819.875" y2="0" stroke="#7987a1" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1152" x1="0" y1="0" x2="819.875" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1153" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1154" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1155" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1113" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1124" class="apexcharts-yaxis" rel="0" transform="translate(11.125, 0)"><g id="SvgjsG1125" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1126" font-family="Helvetica, Arial, sans-serif" x="20" y="31.5" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#000000" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1127">5</tspan><title>5</title></text><text id="SvgjsText1128" font-family="Helvetica, Arial, sans-serif" x="20" y="98.7696" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#000000" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1129">4</tspan><title>4</title></text><text id="SvgjsText1130" font-family="Helvetica, Arial, sans-serif" x="20" y="166.0392" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#000000" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1131">3</tspan><title>3</title></text><text id="SvgjsText1132" font-family="Helvetica, Arial, sans-serif" x="20" y="233.3088" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#000000" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1133">2</tspan><title>2</title></text><text id="SvgjsText1134" font-family="Helvetica, Arial, sans-serif" x="20" y="300.5784" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#000000" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1135">1</tspan><title>1</title></text><text id="SvgjsText1136" font-family="Helvetica, Arial, sans-serif" x="20" y="367.84799999999996" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#000000" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1137">0</tspan><title>0</title></text></g><g id="SvgjsG1138" class="apexcharts-yaxis-title"><text id="SvgjsText1139" font-family="Helvetica, Arial, sans-serif" x="45.40234375" y="198.174" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="900" fill="#7987a1" class="apexcharts-text apexcharts-yaxis-title-text " style="font-family: Helvetica, Arial, sans-serif;" transform="rotate(-90 -1.6640625 193.6739959716797)">Ziyaretçi Sayısı</text></g></g><g id="SvgjsG1109" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 200px;"></div></div></div>
     </div>
  </div>
</div> <!-- row -->

      </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Admin Controler System V1.0  <a href="https://www.bootstrapdash.com/" target="_blank">WTB Bilişim</a></span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
 