<h1>Blog Detay Sayfası</h1>

<!-- Kullanılan bütün apiler aşağıda Mevcuttur -->


<ul>
   
        <li>
            <img src="<%- news.img  %>">
        </li>

        <li>
            <%=news.title  %>
        </li>
        <li>
            <%- news.desc  %>
        </li>
        <li>
            <%=news._id  %>
        </li>
 
     
</ul>